<h3>Student information</h3>

<div id="error_list">
    {% if errorList %}
    <ul>
        {% for error in errorList %}
        <li style="color: red">{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<form id="post">
    {% csrf_token %}
    <input type="hidden" name="studentId" value="{{ form.studentId}}">
    <table>
        <tr>
            <td>Student Number</td>
            <td>
                <input name="studentNo" value="{{ form.studentNo}}">
            </td>
        </tr>
        <tr>
            <td>Student Name</td>
            <td>
                <input name="studentName" value="{{ form.studentName}}">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input name="address" value="{{ form.address}}">
            </td>
        </tr>
    </table>
    <input type="submit" value="Save">
    <input type="button" value="Back" onclick='location.href="{% url "list_student" %}"'> 
</form>